body {
    background-color: ;
    color: rgb(5, 4, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: lightgrey;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

pre {
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    align-content: center;
}

.button {
    margin-top: 50px;
    align-items: center;
    color: white;
    background-color: black;
    border-color: darkcyan;
}

.buttonHolder {
    text-align: center;
}



